[Unit]
Description=Plotly Dash dashboard showing weather station data
After=network.target multi-user.target

[Service]
ExecStart=bash /opt/weather-station-plotly/run_prod.sh
Type=simple
Restart=always
WorkingDirectory=/opt/weather-station-plotly

[Install]
WantedBy=multi-user.target